

  <div class=" row justify-content-center align-content-center">


   
    <a [routerLink]="['/moviedetails',movie.id]" (click)="goToDeatilsPage()" ><img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top " [alt]="movie.title"></a>

    <div class="card-body  ">
      <div class="card__rating">
          {{movie.vote_average | percentage}}
          </div>
      <h5 class="card-title  ">{{movie.title}}</h5>
            <div class="row flex-nowrap ">
              <span class="col-10 movie_info">{{movie.release_date | date}}</span>
              <i id="cardHeart" (click)="addToWatchList(movie.id)"  class="fa fa-heart col-2 text-black   fs-4 "></i>
            </div>
             <!-- <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span> -->

    </div>

</div>

