
*{
    font-family: 'Poppins', sans-serif;
     -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
img {
      -webkit-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      /* user-drag: none; */
}
img {
    pointer-events: none;
}

.movie_card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 4rem !important;
    border-radius: 10px;

}
.movie_card{
    padding: 0 !important;
    width: 22rem;
    /* height: 25rem; */
    margin:14px; 
    border-radius: 10px;   
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_info{
    color: #5e5c5c;
}

.movie_info i{
    font-size: 20px;
}
.card-title{
    width: 80%;
    height: 1rem;
    margin-top:2.7rem;
}

.credits{
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #8e24aa;
    font-size: 18px;
}
.credits .card-body{
    padding: 0;
}
.credits p{
    padding-top: 15px;
    padding-left: 18px;
}
.credits .card-body i{
    color: #8e24aa;
}
.card__rating {
    display: inline-block;
    position: absolute;
    bottom: 14%;
    left: -34px;
    padding: 1rem;
    margin-left: 3rem;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 12px;
    border: 3px solid #c62828;
    background-color: #000;
    overflow: hidden;
}
.card__rating::before{
    
        content: "";
        position: absolute;
        z-index: 2;
        top: 2px;
        left:5%;
        width: 20px;
        height: 10px;
        background: #000;
    
}